html {
  background-color: hsla(0, 0%, 11%, 1);
  color: hsla(60, 100%, 98%, 1);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
}

#cloud-logo {
  margin-right: 12px;
  height: 40px;
}

#search {
  height: 40px;
  width: 250px;
  background-color: hsla(0, 0%, 30%, 1);
  border-radius: 4px;
  border: none;
  padding: 0px 12px;
  color: hsla(60, 100%, 98%, 1);
}

#github {
  height: 40px;
  margin-left: 24px;
}

main {
  padding: 0px 24px;
}

.content {
  border: yellow solid 1px;
  display: flex;
  justify-content: space-between;
  height: 450px;
}

.side-content {
  border: red solid 2px;
  width: 30%;
}

.main-content {
  border: blue solid 2px;
  width: 65%;
}
